<div id="tag_cloud">
  <% tag_cloud Page.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>

<%= form_tag pages_url, method: 'get', :id => 'search_form' do %>
  <%= text_field_tag :search, nil, :placeholder => 'Search...' %>
  <%= submit_tag "Search" %>
<% end %>

<% if @pages %>
  <ul>
    <% @pages.each do |page| %>
      <li><%= link_to "#{image_tag(current_user.facebook.get_picture(page.person_id))} #{page.person}".html_safe, page_url(page.id) %></li>
    <% end %>
  </ul>
<% else %>
  <h3>Who would you rather hit?</h3>
  <% @randoms.each do |random| %>
  <div class='person'>
    <%= link_to image_tag(current_user.large_picture(random.person_id)), page_url(random.id) %>
    <%= link_to random.person, page_url(random.id) %>
    <p>
      <%= link_to "Hit", vote_page_url(random.id), :method => 'post', :class => 'button alert'  %>
    </p>
  </div>
  <% end %>
<% end %>


<p>Date: <input type="text" id="datepicker"></p>

<script type="text/javascript">
  $(function() {
    $( "#datepicker" ).datepicker();
  });
</script>




