<p id="notice"><%= notice %></p>

<h1>
  <%= image_tag(current_user.facebook.get_picture(@page.person_id)) %>
  <%= @page.person %>

</h1>
<h2>
  Tags: <%= raw @page.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
</h2>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>

<% @photos.each do |photo| %>
  <%= image_tag(photo['picture']) %>
<% end %>


